{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>TheHalo</title>
    <!--    style-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/shared.css'%}">
    <link rel="stylesheet" href="{% static 'css/navbar.css'%}">
    <link rel="stylesheet" href="{% static 'css/banner.css'%}">
    <link rel="stylesheet" href="{% static 'css/advantages.css'%}">
    <link rel="stylesheet" href="{% static 'css/requirements.css'%}">
    <link rel="stylesheet" href="{% static 'css/catalogue.css'%}">
    <link rel="stylesheet" href="{% static 'css/sizeRange.css'%}">
    <link rel="stylesheet" href="{% static 'css/productionSlider.css'%}">
    <link rel="stylesheet" href="{% static 'css/about.css'%}">
    <link rel="stylesheet" href="{% static 'css/certificates.css'%}">
    <link rel="stylesheet" href="{% static 'css/contact.css'%}">
    <link rel="stylesheet" href="{% static 'css/variables.css'%}">

    <script src="{% static 'js/jquery-3.7.0.min.js'%}"></script>

    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js" crossorigin></script>
    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"/>

    <script src="{% static 'js/main.js'%}"></script>
    <script src="{% static 'js/scroll.js'%}"></script>
    <script src="{% static 'js/owl.carousel.min.js'%}"></script>
    <script src="{% static 'js/maskedinput.min.js'%}"></script>

<!--        fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;800&display=swap" rel="stylesheet">

    <link rel="icon" type="image/png" href="{% static 'assets/images/favicon.png'%}">

</head>
    <body>
           {% block content %}
           {% endblock %}
    </body>
</html>