.advantages__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.advantages__item{
    padding: 20px;
    display: flex;
    gap:24px;
    flex-direction: row;
    align-items: center;
    border-radius: 16px;
    background: var(--white, #FFF);
    box-shadow: 0px 0px 12px -2px rgba(16, 24, 40, 0.08), 0px 0px 24px -4px rgba(16, 24, 40, 0.15);
}
.advantages__item div span, .advantages__item div span b
{
    font-size: 20px;
}
@media screen and (max-width: 1000px) {
    .advantages__list{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 700px) {
    .advantages__list{
        grid-template-columns: 1fr;
    }
}