.banner__container{
    background-image: url('../assets/images/banner/aron-yigin-dFnEgqVYMTw-unsplash 1.png');
    background-size: cover;
    color: white;
    background-repeat: no-repeat;
}
.banner__content{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: var(--globalPadding);
    padding-top: 5%;
    padding-bottom: 5%;
}
.banner__text{
    width: 60%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.banner__title{
    font-size: 80px;
    font-weight: 700;
    line-height: 100.1%;
    padding-bottom: 30px;
}
.banner__slogan{
    font-size: 32px;
    font-weight: 500;
}
.banner__enrollForm{
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-bottom: 60px;
}
.banner__buttonContainer{

}
.banner__enrollInput{
    display: block;
}
.banner__enrollFormContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.banner__imageContainer{
    width: 40%;
    /*height: 400px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner__image{
    max-height: 100%;
    max-width: 100%;
}
.banner__arrowButtonContainer{
    position: absolute;
    bottom: 30px;
    display: flex;
    justify-content: center;
    width: 90%;
}
.banner__arrowButton{
    background-image: url('../assets/icons/arrows/arrow-down.svg');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.banner__arrowButton:hover{
    background-image: url('../assets/icons/arrows/arrow-downBlack.svg');
}
@media screen and (max-width: 1500px) {
    .banner__title{
        font-size: 60px;
        font-weight: 600;
        padding-bottom: 15px;
    }
    .banner__slogan{
        font-size: 25px;
        font-weight: 500;
    }
    .banner__imageContainer{
        display: none;
    }
    .banner__text{
        gap: 50px;
    }
}
@media only screen and (max-width: 1000px) {
    .banner__container{
        text-align: center;
    }
    .banner__title {
        font-size: 50px;
    }
    .banner__slogan{
        font-size: 23px;
    }
    .banner__container input{
        display: none;
    }
    .banner__enrollForm{
        justify-content: center;
    }
    .banner__arrowButtonContainer{
        display: none;
    }
    .banner__enrollFormContainer{
        gap: 40px;
    }
    .banner__enrollForm{
        margin-bottom: 0;
    }
}
@media screen and (max-width: 700px) {
    .banner__enrollForm{
        flex-direction: column;
    }
    .banner__enrollInput{
        font-size: 30px;
    }
}
@media screen and (max-width: 600px) {
    .banner__title{
        font-size: 37px;
    }
    .banner__slogan{
        font-size: 18px;
    }
}