.catalogue__container {
}

.catalogue__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.catalogue__article {
    padding: 24px;
    border: var(--tableBorder);
    position: relative;
    min-height: 353px;
    margin-bottom: 80px;
}

/*.catalogue__dimensionsGrid{*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr 1fr;*/
/*}*/
.catalogue__table {

    /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr;*/
}

.catalogue__tableRowItem {
    text-align: center;
    font-size: 16px;
}
.catalogue__tableRow{
    display: flex;
    flex-direction: row;
}
.catalogue__tableRowMarker {
    width: 17px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*aspect-ratio: 1/1;*/
    background-image: url("../assets/icons/tableMarker.svg");
    background-repeat: no-repeat;
    /*background-size: 100%;*/
    background-position: center;
}

.catalogue__articleCover {
    max-width: 100%;
    position: absolute;
    bottom: -80px;
    left: 0;
}

.catalogue__grid {
    margin-bottom: 40px;
}
.catalogue__tableRow{
    font-size: 8px;
}
.catalogue__articleTitle {
    margin-bottom: 24px;
}

.catalogue__article > .bold {
    margin-bottom: 8px;
}

@media screen and (max-width: 1500px) {
    .catalogue__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .catalogue__articleCover {
        position: unset;
        padding-top: 20px;
    }
}
@media only screen and (max-width: 1000px) {
    .catalogue__article{
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 900px) {
    .catalogue__grid {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 700px) {
    .catalogue__grid {
        margin-bottom: -14px;
    }
}
@media screen and (max-width: 500px) {
    .catalogue__tableRowItem {
    font-size: 13px;
    }
}
@media screen and (max-width: 400px) {
    .catalogue__article{
        padding: 12px;
    }
    .catalogue__tableRowItem {
        font-size: 12px;
    }
}