.certificates__container{

}
.certificates__gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:24px;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
}
.certificates__gallery>a{
    display: block;
    margin-right: 20px;
    margin-bottom: 20px;
}
.certificates__galleryItem{
    width: 100%;
}
.certificates__galleryItem>img{
    width: 100%;
}

@media screen and (max-width: 900px) {
    .certificates__gallery{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 700px) {
    .certificates__gallery{
        grid-template-columns: 1fr 1fr;
    }
    .certificates__galleryItem{
        display: none;
    }
}