.navbar__container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    /*background-color: var(--grey);*/
    color: white;
    padding: var(--globalPadding);
    height: 105px;
    justify-content: space-between;
    align-items: center;
}
.navbar__logo{
    font-family: Koulen;
    font-size: 40px;
    font-weight: 400;
}

.navbar__items{
    cursor: pointer;
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    transition: border-bottom-width 1s;
}
.navbar__item:hover{
    box-shadow: 0 4px 1px -2px var(--white);
}
.navbar__call{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.navbar__phone{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar__phone>.phoneIcon{
    height: 24px;
    aspect-ratio: 1/1;
}
footer>.navbar__container{
    background-color: var(--grey);
}

@media only screen and (max-width: 1700px) {
    .navbar__call{
        display: none;
    }
}

/*@media only screen and (max-width: 1000px) {*/
/*    .navbar__items{*/
/*        display: none;*/
/*        background-color: yellow;*/
/*    }*/
/*    .navbar__call{*/
/*        display: none;*/
/*    }*/
/*}*/