.requirements__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}
.requirements__article{
    margin-top: 30px;
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0px 0px 12px -2px rgba(16, 24, 40, 0.08), 0px 0px 24px -4px rgba(16, 24, 40, 0.15);
}
.requirements__article__best{
    position: relative;
    margin-bottom: 30px;
    margin-top: 0;
    color: var(--white);
    background-color: var(--green);
}
.requirements__article__bestCaption{
    position: absolute;
    background-color: var(--lightGreen);
    border-radius: 8px;
    right: 16px;
    top: 16px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 22px;
}
.requirements__listTitle{
    font-size: 24px;
    font-weight: 700;
}
.requirements__list{
    display: flex;
    flex-direction: column;
    gap:12px;
}
.requirements__item{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.requirements__listHeader{
    margin-bottom: 40px;
}
.requirements__itemText
{
    font-size: 20px;
    margin-left: 15px;
    margin-top: -7px;
}

@media screen and (max-width: 900px) {
    .requirements__grid{
        grid-template-columns: 1fr;
    }
}